p {
    text-align: center;
}

p span {
    font-size: 16px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin: 10px;
}

/* titles */
.focus {
    font-size: 36px;
    text-transform: uppercase;
}

.stepLayout {
    margin-top: 50px;
    text-align: center;
}

#emailAddress, #password {
    width: 20%;
}

label {
    line-height: 25px;
}

button {
    margin-top: 20px;
    font-size: 24px;
}

#submit {
    background-color: green;
    color: white;
}

